<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Активация аккаунта в блоге Лары Покровской</h1>
<p>
  Чтобы подтвердить свой аккаунт, вам остается лишь перейти по этой ссылке: <%= @url %>.
</p>
</body>
</html>
