<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>На ваш комментарий в посте "<%= @comment.post.title %>" ответили</h1>
<p>
  <%= @comment.text.html_safe %>
</p>
<a href="https://larapokrovskaya.ru/posts/<%= @comment.post.id %>#comment<%= @comment.id %>">Ссылка на комментарий</a>
</body>
</html>
