<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Ваша заявка на доступ к "психолог-психологу" была одобрена</h1>
<p>
  Поздравляем, ваша заявка была одобрена!
</p>
</body>
</html>
