<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Ваша заявка на доступ к "психолог-психологу" была отклонена</h1>
<p>
  Сожалеем, но ваша заявка была отклонена.
</p>
</body>
</html>
