- @tasks.each do |task|
  .task{class: task.status}
    %h4.title
      Запрос доступа в П-П от
      %a.user{href: "#", data: { userid: task.payload["user_id"] }}
        #{User.find(task.payload["user_id"]).full_name}
    = task.payload["comment"].html_safe
    .actions
      %a.button.decline{href: "/tasks/#{task.id}/decline"} Отказать
      %a.button.accept{href: "/tasks/#{task.id}/accept"} Разрешить