.page
  = form_for @user, remote: true, method: :patch, html: {class: "ajax_form edit_user"} do |form|
    .errors
    .field
      %span.label
        %span Аватар:
      %img.avatar{src: @user.avatar.attached? ? url_for(@user.avatar) : "https://www.drupal.org/files/issues/default-avatar.png"}
      = form.file_field :avatar
    .field
      %span.label
        %span Описание:
      = form.text_area :description, 'id': 'edit_user_description'
    .field
      %span.label
        %span Почта:
      = form.text_field :mail, readonly: true, onfocus: "this.removeAttribute('readonly')"
    .field
      %span.label
        %span Новый пароль (необязателен):
      = form.password_field :password, placeholder: "Новый пароль", readonly: true, onfocus: "this.removeAttribute('readonly')"
    .field
      %span.label
        %span Старый пароль (обязателен для обновления профиля):
      %input{type: "password", name: "old_password", placeholder: "Старый пароль"}
    = form.submit