- @nav_active = 'how_i_work'
.page.with_tabs
  .tab_triggers
    %a.tab_trigger.active{href: "#", data: {turbolinks: "false", tabid: "how_can_i_help"}} Чем я могу помочь
    %a.tab_trigger{href: "#", data: {turbolinks: "false", tabid: "formats_and_price"}} Форматы работы и цены
    %a.tab_trigger{href: "#", data: {turbolinks: "false", tabid: "projects"}} Мои проекты
    %a.tab_trigger{href: "#", data: {turbolinks: "false", tabid: "my_education"}} Образование
    %a.tab_trigger{href: "#", data: {turbolinks: "false", tabid: "reviews"}} Отзывы
  .tabs
    .tab.active{data: {tabid: "how_can_i_help"}}
      = text "how_i_work__how_can_i_help"
    .tab{data: {tabid: "formats_and_price"}}
      = text "how_i_work__formats_and_price"
    .tab{data: {tabid: "projects"}}
      = text "how_i_work__projects"
    .tab{data: {tabid: "my_education"}}
      = text "how_i_work__my_education"
    .tab{data: {tabid: "reviews"}}
      = text "how_i_work__reviews"
  -#= text "about_me_page"