.comment_wrapper{style: "padding-left: #{16 * comment.display_level}px;"}
  %a{name: "comment#{comment.id}"}
  .comment{id: "comment#{comment.id}"}
    %img.avatar{src: comment.user.avatar_url}
    .comment_info
      %a.user{href: "#", data: { userid: comment.user.id }} #{comment.user.full_name}
      %a.date{href: "#comment#{comment.id}", data: {turbolinks: "false"}}
        #{comment.updated_at.strftime("%d.%m.%Y %H:%M")}
        - if comment.created_at != comment.updated_at
          %i (был изменен)
    - if comment.level != comment.real_level
      .parent_quote
        .parent_content
          = truncate_html(comment.parent.text, length: 250, escape: false).html_safe
        .parent_author
          %a.user{href: "#", data: { userid: comment.parent.user.id }} #{comment.parent.user.full_name}
    .content
      = comment.text.html_safe
    - if @user_current
      .actions
        - if comment.post.allow_comments
          %a.reply{href: "#", data: { id: comment.id }} Ответить
        - if !@user_current.nil? and (@user_current.id == comment.user.id or @user_current.is_admin)
          %a.edit.action{href: "#", data: { id: comment.id }}
            %i.fas.fa-edit
          - if @user_current.is_admin
            %a.delete.action{href: "#", data: { id: comment.id }}
              %i.fas.fa-trash
