%article.post_item
  %header
    %a{href: "/posts/#{post.id}"}
      %h2.title= post.title
    .info
      %span.datetime
        %i.far.fa-clock
        = post.created_at.strftime("%d.%m.%Y %H:%M")
      %span.views_count
        %i.far.fa-eye
        = post.views_count
      - if @user_current && @user_current.is_admin
        %a{href: "/posts/#{post.id}/edit"}
          %i.far.fa-edit
        = link_to raw('<i class="far fa-trash-alt"></i>'), "/posts/#{post.id}", |
          method: :delete,
          data: { confirm: 'Are you sure?' }
  %div{class: "content_wrapper #{post.preview.attached? ? "with_preview" : ""}"}
    - if post.preview.attached?
      .preview_wrapper
        %img.preview{src: rails_blob_path(post.preview, disposition: "attachment")}
    .content
      = post.short_text.html_safe
  .tags
    - post.tags.each_with_index do |tag, i|
      %a{href: "/tags/#{tag}"}><
        = tag
      - unless i == post.tags.size-1
        ,&nbsp;
  %footer
    - if post.comments.count > 0
      %a.comments_count{href: "/posts/#{post.id}#comments"}
        %i.far.fa-comment-dots{data: {"fa-transform" => "flip-h"}}
        = post.comments.count
    - else
      .ph
    %a.read_more{href: "/posts/#{post.id}"}
      Читать дальше
      %i.fas.fa-arrow-right