- @nav_active = 'book'
- @posts.each do |post|
  = render "post", post: post

- if Post.book.count > 10
  .pagination
    - if !params[:offset].nil? && params[:offset].to_i > 0
      %a.go_left{href:"/book/?offset=#{params[:offset].to_i<10 ? 0 : params[:offset].to_i-10}"}
        .chevron
          %i.fas.fa-chevron-left
        .title Назад
    - if (params[:offset].nil? && Post.book.count > 10) || params[:offset].to_i+10 < Post.book.count-1
      %a.go_right{href:"/book/?offset=#{params[:offset].to_i+10}"}
        .title Вперед
        .chevron
          %i.fas.fa-chevron-right
