= form_for @post, url: {action: "update"} do |form|
  .field
    = select_tag('post[category]', options_for_select([['Блог', :blog], ['Психолог - психологу', :psychologist], ['Моя книга', :book]], selected: @post.category))
  .field
    %span.label
      %span Название:
    = form.text_field :title, required: true
  .field_container
    .field
      %span.label
        %span Изображение-превью:
      %img#img_load{src:@post.preview.attached? ? rails_blob_path(@post.preview, disposition: "attachment") : ""}/
      = form.file_field :preview, id: 'file_preview'
    .field
      %span.label
        %span Краткое содержание:
      = form.text_area :short_text, 'data-editor': :summernote, 'data-following': 'false', required: true, placeholder: "Кратко о статье"
  .field
    %span.label
      %span Текст:
    = form.text_area :text, 'data-editor': :summernote, required: true, placeholder: "Полный текс статьи"
  .field
    %span.label
      %span Теги:
    %input{name: "post[tags]", type: "text", value: @post.tags.join(", ")}
    %span.description
      Теги вписываются через запятую (можно с пробелом)
  = form.submit 'Сохранить'