- @nav_active = 'psychologist'
- if !@user_current
  = text "is_psychologist_request"
  = form_with url: "/users", method: "post", remote: true, html: { id: "psycho_request_form", class: "ajax_form" } do |f|
    .errors
    = hidden_field :psychologist_request, value: true
    .field
      = label_tag 'user[name]', "Имя:"
      = f.text_field 'user[name]', placeholder: "Имя"
    .field
      = label_tag 'user[surname]', "Фамилия:"
      = f.text_field 'user[surname]', placeholder: "Фамилия"
    .field
      = label_tag 'user[mail]', "Email:"
      = f.text_field 'user[mail]', placeholder: "Адрес электронной почты"
    .field
      = label_tag 'user[password]', "Пароль:"
      = f.password_field 'user[password]', placeholder: "Пароль"
    .field
      = label_tag 'comment', text("psychologist_prove")
      = f.text_area 'comment', 'data-provider': :summernote
    = submit_tag "Зарегистрироваться и подать заявку"
- if @user_current and !@user_current.is_psychologist and !@user_current.is_admin
  - if Task.where("status = 0 AND (payload->>'user_id')::text::integer = ?", @user_current.id).count > 0
    .infobox.ok
      %i.icon.fas.fa-check
      %span.text
        Ваша заявка на рассмотрении
  - else
    .infobox.no
      %i.icon.fas.fa-times
      %span.text
        Сожалеем, ваша заявка отклонена
- if @user_current and @user_current.activated and (@user_current.is_psychologist || @user_current.is_admin)
  - @posts.each do |post|
    = render "post", post: post

  - if Post.psychologist.count > 10
    .pagination
      - if !params[:offset].nil? && params[:offset].to_i > 0
        %a.go_left{href:"/psychologist/?offset=#{params[:offset].to_i<10 ? 0 : params[:offset].to_i-10}"}
          .chevron
            %i.fas.fa-chevron-left
          .title Назад
      - if (params[:offset].nil? && Post.psychologist.count > 10) || params[:offset].to_i+10 < Post.psychologist.count-1
        %a.go_right{href:"/psychologist/?offset=#{params[:offset].to_i+10}"}
          .title Вперед
          .chevron
            %i.fas.fa-chevron-right
