%form.search_form{action: "/search", method: "get"}
  %input.search{name: "query", placeholder: "Поиск", value: params[:query]}/
  %button{type: "submit"}
    %i.fas.fa-search
%h3.search_results_count
  Результаты поиска (#{@posts.count}):
- @posts.each do |post|
  = render "post", post: post