- @title = @post.title

%article.post_item.full
  %header
    %h1.title
      = @post.title
    .info
      %span.datetime
        %i.far.fa-clock
        = @post.created_at.strftime("%d.%m.%Y %H:%M")
      %span.views_count
        %i.far.fa-eye
        = @post.views_count + 1
      - if @user_current && @user_current.is_admin
        %a{href: "/posts/#{@post.id}/edit"}
          %i.far.fa-edit
        = link_to raw('<i class="far fa-trash-alt"></i>'), "/posts/#{@post}",
                           method: :delete,
                           data: { confirm: 'Are you sure?' }
  .content
    = @post.text.html_safe

  -#  Счетчики соцсетей
  - unless @post.allow_comments
    .ya-share2{data: {services: "vkontakte,facebook,odnoklassniki,twitter,pocket", counter: ""}}

  %footer
    .tags
      - @post.tags.each_with_index do |tag, i|
        %a{href: "/tags/#{tag}"}><
          = tag
        - unless i == @post.tags.size-1
          ,&nbsp;
- if @posts_like.count > 0
  #posts_like_wrapper
    %h3
      %span
        Вам могут быть интересны статьи:
    #posts_like
      - @posts_like.each do |post|
        .post_like
          %img{src: post.preview.attached? ? rails_blob_path(post.preview, disposition: "attachement") : "https://i0.wp.com/demechanica.com/wp-content/uploads/2018/07/placeholder.png?fit=800%2C600&ssl=1"}
          %a{href: url_for(post)} #{post.title}

- if !@prev_post.nil? || !@next_post.nil?
  #posts_navigation
    - if @prev_post
      %a.navigation_link.navigation_link_left{href: "/posts/#{@prev_post.id}"}
        .chevron
          %i.fas.fa-chevron-left
        .text
          %span.direction Предыдущая статья
          %span.name
            = @prev_post.title
    - if @next_post
      %a.navigation_link.navigation_link_right{href: "/posts/#{@next_post.id}"}
        .text
          %span.direction Следующая статья
          %span.name
            = @next_post.title
        .chevron
          %i.fas.fa-chevron-right

- if @post.allow_comments
  .comments
    %a{name: "comments"}
    %h2.comments_title Комментарии (#{@post.comments.count}):
    - @post.comments_tree.each do |comment|
      = render "comment", comment: comment
    #add_comment_wrapper
      %a#add_comment_trigger{href: "#"} Добавить комментарий
      = form_for Comment.new, remote: true, html: { id: "new_comment_form" } do |form|
        .errors
        = form.text_area :text
        = form.hidden_field :post_id, value: @post.id
        = form.hidden_field :parent_id, value: nil
        = form.submit 'Отправить'
    #edit_comment_wrapper
      = form_with remote: true, method: 'put', html: { id: "edit_comment_form" }, data: {id: "nil"} do |form|
        .errors
        = form.text_area 'comment[text]', 'data-provider': :summernote
        = form.submit 'Сохранить'