@import "vars.scss";
@import "bootstrap";
@import "summernote-bs4";
@import "summernote-custom-theme.min";

@font-face {
  font-family: "Gabriola";
  src: url("/fonts/gabriola.ttf") format("ttf");
}

:root {
  --brand-color: #009688;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: $body-bg;
  font-family: 'Roboto', sans-serif;
}

a {
  color: var(--brand-color);
  transition: color .2s, background .2s;

  &:hover {
    text-decoration: none;
    color: darken($brand-color, 15%);
  }
}

.container-width {
  width: 100%;
  max-width: $max-width;
  margin: 0 auto;
  padding: 0 16px;
}

#nav_main_wrapper {
  width: 100%;
  min-height: 64px;
  background: $main-color;
  box-shadow: 0px 0px 10px 1px #0000001c;
  position: relative;

  #nav_main {
    width: 100%;
    min-height: 64px;
    max-width: $max-width;
    margin: auto;
    display: flex;
    justify-content: space-between;

    a {
      height: 64px;
      min-width: 64px;
      display: inline-flex;
      padding: 0 16px;
      justify-content: center;
      align-items: center;
      font-size: 1.2em;
      text-decoration: none;

      &:hover, &.active {
        background: rgba(0, 0, 0, .03);
      }

      &.active {
        color: rgba(0, 0, 0, .6);
      }

    }
  }
}

#nav_user_wrapper {
  background: var(--brand-color);

  nav {
    display: flex;
    justify-content: space-between;
    height: 32px;
    position: relative;

    .left {
      display: flex;
    }

    a {
      padding: 0 16px;
      height: 100%;
      display: inline-flex;
      align-items: center;
      color: white;

      i {
        margin-right: 6px;
      }

      &:hover {
        background: darken($brand-color, 5%);
      }
    }
  }
}

#info_main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 220px;
  text-align: center;
  position: relative;

  .img_left, .img_right {
    position: absolute;
    top: 0px;
    height: 220px;
    z-index: -1;
    opacity: 0.6;
  }

  .img_left {
    left: 100px;
  }

  .img_right {
    right: 100px;
  }

  .author_name {
    font-family: "Gabriola";
    font-size: 4.2em;
    line-height: 1em;
    color: var(--brand-color);
    margin-bottom: 8px;
  }

  .author_description {
    color: rgba(0, 0, 0, .7);
    font-size: 1.4em;
    font-weight: 300;
  }
}

#wrapper {
  position: relative;
  display: flex;
  //align-items: flex-start;
}

#container_wrapper {
  width: 70%;
  padding-right: 16px;
  #container {
    //height: 2000px;
  }
}

#sidebar {
  width: 30%;
  will-change: min-height;

  .product_block {
    .product_image {
      margin-bottom: 8px;
    }
  }

  .sidebar__inner {
    margin-left: 16px;
    transform: translate(0, 0); /* For browsers don't support translate3d. */
    transform: translate3d(0, 0, 0);
    will-change: position, transform;
  }

  &.is-affixed {
    .sidebar__inner {
      margin-left: 15px;
    }
  }

  .block {
    background: white;
    padding: 16px;
    border: 1px solid #dfdfdf;
    margin-bottom: 16px;

    .block_title {
      position: relative;
      margin-bottom: 16px;

      span {
        position: relative;
        color: #7b7b7b;
        padding-right: 16px;
        background: white;
        display: inline-block;
        z-index: 2;
        text-transform: uppercase;
        font-size: 1.2em;
      }

      &::before {
        content: " ";
        width: 100%;
        height: 1px;
        background: #b5b5b5;
        display: block;
        position: absolute;
        top: calc(50% - .5px);
        z-index: 1;
      }
    }

    .block_content {
      vertical-align: center;

      .socials {
        display: flex;
        justify-content: space-between;
        margin-top: 8px;
        flex-wrap: wrap;

        a {
          width: 48px;
          height: 48px;
          display: inline-flex;
          justify-content: center;
          align-items: center;
          font-size: 32px;
        }
      }

      img {
        max-width: 100%;

        &.about_img {
          margin-bottom: 16px;
        }
      }
    }
  }
}

#footer_wrapper {
  margin-top: 32px;
  border-top: 1px solid var(--brand-color);

  footer {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

.search_form {
  //margin-bottom: 8px;
  display: flex;

  input.search {
    width: 100%;
    padding: 0 8px;
  }

  [type="submit"] {
    background: var(--brand-color);
    border: none;
    color: white;
    height: 42px;
    width: 42px;
    cursor: pointer;
    transition: background .2s;

    &:hover {
      background: darken($brand-color, 10%);
    }
  }
}

.search_results_count {
  margin-top: 32px;
  margin-bottom: 16px;
  color: var(--brand-color);
}

#write_fab {
  width: 64px;
  height: 64px;
  border-radius: 100%;
  color: white;
  background: var(--brand-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 26px;
  box-shadow: 0px 3px 15px 1px #bfbfbf;
  position: fixed;
  right: calc((100% - #{$max-width} + 32px) / 2);
  bottom: 16px;
  z-index: 100500;
  transition: background .2s;

  &:hover {
    text-decoration: none;
    background: darken($brand-color, 10%);
  }
}

.field_container {
  display: flex;

  .field {
    width: calc(50% - 8px);

    img {
      max-width: 100%;
      margin-bottom: 16px;
    }

    &:first-child {
      padding-right: 8px;
    }

    &:last-child {
      padding-left: 8px;
    }
  }
}

.modal_wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
  background: #ffffffd4;

  &.active {
    display: flex;
  }

  .close {
    position: absolute;
    right: 16px;
    top: 16px;
  }

  .modal_content {
    width: 100%;
    max-width: 500px;
    max-height: 100vh;
    overflow-y: auto;

    .tab_triggers {
      display: flex;
      justify-content: space-between;

      .tab_trigger {
        font-size: 1.75rem;
        display: inline-block;
        color: gray;
        font-weight: 300;
        margin-bottom: 24px;
        transition: color .2s;

        &.active, &:hover {
          color: black;
        }
      }
    }

    .tabs {
      .tab {
        display: none;

        &.active {
          display: block;
        }
      }
    }

    input {
      border: none;
      border-radius: 0;
      border-bottom: 2px solid #dcdcdc;
      width: 100%;
      background: transparent;
      margin-bottom: 16px;
    }

    input[type="submit"] {
      border: 2px solid;
      color: var(--brand-color);
      font-weight: 400;
      border-radius: 5px;
      opacity: 0.6;
      transition: opacity .2s;
      will-change: opacity;
      margin-bottom: 0;

      &:hover, &:active, &:focus {
        opacity: 1;
      }
    }
  }
}

.errors .error {
  background: #ff000029;
  margin-bottom: 8px;
  padding: 8px;
  color: #8a4545;
  border-radius: 5px;
}

.float_user {
  display: flex;
  max-width: 750px;
  width: auto;

  .left {
    display: flex;
    flex-direction: column;
    justify-content: center;

    h2 {
      margin-bottom: 16px;
    }

    .description {
      color: #424242;
    }
  }

  .right {
    display: flex;
    align-items: center;
    margin-left: 32px;
  }

  .avatar {
    width: 150px;
    height: 150px;
    border-radius: 25px;
    border: 1px solid gray;
  }
}

.page {
  padding: 16px;
  width: 100%;
  background: white;
  border: 1px solid #dfdfdf;

  .field .label span {
    background: white;
  }
}

#modal_user_edit {
  display: flex;
  max-width: 750px;
  background: white;
  border: 1px solid #dfdfdf;
  padding: 16px;

  .left {
    display: flex;
    flex-direction: column;
    justify-content: center;

    h2 {
      margin-bottom: 16px;
    }
  }

  .right {
    display: flex;
    flex-direction: column;
    //justify-content: center;
    align-items: center;
    margin-left: 32px;
  }

  .avatar {
    width: 200px;
    height: 200px;
    border-radius: 25px;
    border: 1px solid gray;
    margin-bottom: 16px;
  }
}

.submit_wrapper {
  margin-top: 16px;
}

.float_info {
  position: absolute;
  background: white;
  border: 1px solid #e4e4e4;
  padding: 16px;
  border-radius: 15px;
  box-shadow: 0px 2px 15px gainsboro;
}

.infobox {
  min-height: 75px;
  border-radius: 5px;
  display: flex;
  align-items: center;

  i {
    width: 100px;
    height: 100%;
    display: flex;
    justify-content: center;
    font-size: 2em;
  }

  &.no {
    background: #ffc8c8;
    border: 1px solid #a76666;

    i {
      color: #dc4a4a;
    }
  }

  &.ok {
    background: #cbf5cb;
    border: 1px solid #76aa76;

    i {
      color: #4dcc4d;
    }
  }
}

.bell-active {
  color: red;
}

#modal_buy {
  max-width: 750px;
  background: white;
  border-radius: 5px;
  border: 1px solid #dfdfdf;

  header {
    font-size: 2em;
    //text-align: center;
    color: #424242;
    //margin-bottom: 16px;
    padding: 16px;
    padding-bottom: 0;
  }

  .tab {
    padding: 16px;

    .data {
      margin-top: 16px;
      display: flex;
      justify-content: space-between;

      .price_wrapper {
        color: var(--brand-color);
      }
    }

    .tab_trigger {
      background: var(--brand-color);
      padding: 8px 16px;
      border-radius: 5px;
      color: white;
    }
  }
}

p {
  margin-bottom: 6pt;
}

li {
  margin-bottom: 6pt;
}

.page {
  .tab_triggers {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    a {
      display: inline-block;
      padding: 4px 16px;
      border-bottom: 2px solid #dfdfdf;
      transition: border-color .2s;
      margin: 0 4px;
      margin-bottom: 8px;
      font-size: 1.2em;

      &.active {
        border-color: var(--brand-color);
      }
    }
  }
  .tab {
    display: none;
    padding: 0 16px;

    &.active {
      display: block;
    }
  }
}

.flash_notice, .flash_alert {
  background: white;
  padding: 16px;
  border-radius: 10px;
  margin-bottom: 16px;
  color: #464646;
}

.flash_notice {
  border: 2px solid cornflowerblue;
}

.flash_alert {
  border: 2px solid darkorange;
}

.edit_user {
  .avatar {
    width: 200px;
    height: 200px;
  }
}

.mcard {
  background: white;
  border: 1px solid #dfdfdf;
  padding: 16px;
}

p:last-child {
  margin-bottom: 0;
}

blockquote {
  //font-size: 1em;
  //background: #f1f1f1;
  //padding: 8px 16px;
  //border-left: 2px solid var(--brand-color);
  //margin-bottom: 6pt;
}

.blockquote {
  width: 100%;
  background-color: transparentize(#000, .94);

  z-index: 1;
  position: relative;
  margin: 0;
  margin-bottom: 6pt !important;
  padding: 1.5rem 3.5rem !important;
  // font-family: Georgia, serif;
  // font-size: 1.125rem;
  // font-style: italic;

  &::before,
  &::after {
    box-sizing: inherit;
    z-index: -1;
    position: absolute;
    color: var(--brand-color);
    font-size: 4rem;
    font-style: normal;
    font-weight: 700;
  }
  &::before {
    content: "“";
    top: 5px;
    left: 5px;
    line-height: 1;
  }
}

.navbar {
  min-height:64px;
}

hr {
  border-color: rgba(0,0,0,.3);
}

.smallscreen {
  &_flex {
    display: none;
  }

  &_block {
    display: none;
  }
}

@media screen and (max-width: 750px) {
  #wrapper {
    flex-direction: column;

    #sidebar {
      width: 100%;
      margin-top: 32px;

      .sidebar__inner {
        margin-left: 0;
      }
    }

    #container_wrapper {
      width: 100%;
      padding-right: 0;
    }

    .field_container {
      flex-direction: column;

      .field {
        width: 100%;
        padding: 0;
      }
    }
  }

  .bigscreen {
    display: none !important;
  }

  .smallscreen {
    &_flex {
      display: flex;
    }

    &_block {
      display: block;
    }
  }
}

@media screen and (max-width: $max-width+32px) {

  .img_left, .img_right {
    display: none;
  }
  #write_fab {
    right: 16px;
  }
}

@media screen and (max-width: 550px) {
  #nav_main .left {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}
