// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "vars";

$post-border-color: #eaeaea;

.post_item {
  border: 1px solid $post-border-color;
  background: white;
  margin-bottom: 32px;

  header {
    border-bottom: 1px solid $post-border-color;

    a {
      text-decoration: none;
    }

    h2 {
      margin: 0;
      margin-bottom: 8px;
      font-weight: normal;
      color: black;
    }

    .info {
      span {
        margin-right: 16px;
        font-size: 0.9em;
        color: rgba(0, 0, 0, .6);
      }

      a {
        margin-right: 8px;
      }
    }
  }

  & > * {
    overflow: hidden;
    padding: 16px;
  }

  .content_wrapper {
    display: flex;
    justify-content: space-between;

    & > * {
      width: 100%;

      img {
        max-width: 100%;
      }
    }

    &.with_preview > * {
      width: calc(50% - 8px);
    }
  }

  .content {
    padding: 0px;
    padding-bottom: 0;

    p:last-child {
      margin-bottom: 0;
    }

    img {
      margin: 0px 8px 8px 0px;
    }
  }

  &.full {
    .content {
      padding: 16px 32px;
    }
  }

  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid $post-border-color;

    .comments_count {
      font-size: 1.2em;
      padding: 0 16px;
      height: 42px;
      align-items: center;
      display: inline-flex;
      border-radius: 5px;

      &:hover {
        background: rgba(0,0,0,.05);
      }

      i {
        margin-right: 6px;
      }
    }
  }

  .read_more {
    background: var(--brand-color);
    color: white;
    height: 42px;
    padding: 0 16px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: 5px;
    transition: background .2s;

    &:hover {
      background: darken($brand-color, 10%);
    }

    i {
      margin-left: 8px;
    }
  }

  &.full {
    footer {
      flex-direction: column;
      align-items: flex-start;
    }
  }
}

form {
  .field {
    margin-bottom: 32px;

    &.checkbox {
      label {
        margin-left: 8px;
      }
    }
  }

  .description {
    margin-top: 8px;
    display: inline-block;
    font-size: 0.9em;
    color: #909090;
  }

  input[type="text"], input[type="password"], input[type="number"], select {
    width: 100%;
    padding: 6px 8px;
    border-radius: 5px;
    border: 2px solid #dcdcdc;
    transition: border-color .2s;

    &:active, &:focus {
      outline: none;
      border-color: var(--brand-color);
    }
  }

  input[type="submit"] {
    width: 100%;
    //background: rgba($brand-color, .1);
    background: var(--brand-color);
    border: 2px solid var(--brand-color);
    //color: var(--brand-color);
    color: white;
    font-size: 1.2em;
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    min-height: 42px;
    cursor: pointer;

    i {
      margin-right: 8px;
    }
  }

  .label {
    position: relative;
    margin-bottom: 8px;
    display: block;

    span {
      position: relative;
      color: #7b7b7b;
      padding-right: 16px;
      background: $body-bg;
      display: inline-block;
      z-index: 2;
      text-transform: uppercase;
      font-size: 1.2em;
    }

    &::before {
      content: " ";
      width: 100%;
      height: 1px;
      background: #b5b5b5;
      display: block;
      position: absolute;
      top: calc(50% - .5px);
      z-index: 1;
    }
  }
}

#posts_navigation {
  margin-top: 32px;
  background: white;
  display: flex;
  padding: 8px 0;
  border: 1px solid $post-border-color;

  .navigation_link {
    width: 50%;
    display: flex;
    padding: 8px;

    .chevron {
      padding: 0 16px;
      color: var(--brand-color);
      font-size: 24px;
    }

    .text {
      display: flex;
      flex-direction: column;

      .direction {
        color: rgba(0, 0, 0, .3);
        margin-bottom: 8px;
      }

      .name {
        color: rgba(0, 0, 0, .7);
        transition: color .1s;
      }
    }

    &:hover {
      text-decoration: none;

      .name {
        color: var(--brand-color);
      }
    }

    &.navigation_link_right {
      text-align: right;
      justify-content: flex-end;
      float: right;
      margin-left: auto;
    }
  }
}

.pagination {
  //padding: 16px;
  background: white;
  border: 1px solid $post-border-color;
  display: flex;
  justify-content: space-between;

  a {
    width: 50%;
    padding: 16px;
    display: flex;
    align-items: center;
    text-transform: uppercase;

    &.go_right {
      text-align: right;
      margin-left: auto;
      justify-content: flex-end;
    }

    .chevron {
      margin: 0 16px;
      font-size: 1.5em;
    }
  }
}

#posts_like_wrapper {
  background: white;
  border: 1px solid $post-border-color;
  display: flex;
  flex-direction: column;

  h3 {
    position: relative;
    display: block;
    font-weight: 300;
    font-size: 1.2em;
    padding: 16px 16px;
    margin: 0;

    span {
      position: relative;
      color: #7b7b7b;
      padding-right: 16px;
      background: white;
      display: inline-block;
      z-index: 2;
      text-transform: uppercase;
      font-size: 1.2em;
    }
  }

  #posts_like {
    display: flex;
    justify-content: space-evenly;
    .post_like {
      width: calc((100% - 82px) / 3);
      position: relative;

      img {
        width: 100%;
        background: #f1f1f1;
      }

      a {
        width: 100%;
        padding: 8px 16px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}

.comments {
  .comments_title {
    margin-top: 32px;
    margin-bottom: 24px;
  }

  #add_comment_trigger {
    font-size: 1.6em;
  }

  .comment {
    padding: 8px;
    padding-left: calc(64px + 16px);
    position: relative;
    min-height: calc(64px + 16px);
    margin-bottom: 16px;
    background: white;
    border: 1px solid #eaeaea;

    p:last-child {
      margin-bottom: 0;
    }

    .content, .parent_content {
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .parent_quote {
      padding: 8px;
      background: #f7f7f7;
      border-left: 2px solid var(--brand-color);
      //font-size: 0.9em;
      margin-bottom: 8px;

      .parent_author {
        font-size: 0.9em;
      }
    }
  }

  img.avatar {
    position: absolute;
    left: 8px;
    width: 64px;
    top: 8px;
    border-radius: 10px;
  }

  .comment_info {
    display: flex;
    margin-bottom: 8px;
    font-size:0.9em;
    align-items: center;

    & > * {
      margin-right: 16px;
    }

    .user {
      color: var(--brand-color);
      font-size: 1.2em;
    }

    .date {
      color: gray;
    }
  }

  .actions {
    margin-top: 8px;
    display: flex;

    a {
      margin-right: 8px;
      font-size: 0.9em;
    }

    .reply {
      margin-right: 32px;
    }
  }
}
#new_comment_form {
  padding-left: 16px;
}

#new_comment_form, #edit_comment_form {
  margin-top: 16px;
  margin-bottom: 16px;
  display: none;

  &.active {
    display: block;
  }

  & > * {
    margin-bottom: 8px;
  }
}

#psycho_request_form {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  margin-top: 16px;
  background: white;
  padding: 16px;
  border: 1px solid #d1d1d1;
  border-radius: 5px;

  .field {
    margin-bottom:16px;
  }
}

@media screen and (max-width: 500px) {
  .post_item {
    .with_preview {
      flex-direction: column;

      .preview_wrapper, .content {
        width: 100%;
      }

      .preview_wrapper {
        margin-bottom: 8px;
      }
    }
  }
}