// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.product_wrapper {
  margin-bottom: 32px;

  .product {
    display: flex;
    padding: 16px;
    background: white;
    border: 1px solid #dfdfdf;

    & > .left {
      margin-right: 16px;

      img {
        width: 200px;
        //height: 200px;
      }
    }

    .right {
      display: flex;
      flex-direction: column;
      width: 100%;

      .buy_wrapper {
        display: flex;
        margin-top: auto;
        //justify-content: space-between;
        align-items: center;
        margin-top: 16px;

        .price {
          font-size: 1.5em;
        }

        .left {
          display: flex;
          justify-content: center;
          align-items: center;
          margin-right: 16px;

          .buy {
            padding: 8px 16px;
            background: var(--brand-color);
            border-radius: 5px;
            color: white;
            display: flex;
          }

          .actions {
            margin-left: 8px;

            a {
              margin-left: 8px;
            }
          }
        }
      }
    }
  }

  .reviews_wrapper {
    background: white;
    border: 1px solid #dfdfdf;
    border-top: 0;

    form {
      padding: 0 16px;

      & > * {
        margin-bottom: 16px;
      }
    }

    .reviews_trigger {
      padding: 16px;
      width: 100%;
      //height: 42px;
      display: block;

      i {
        margin-right: 16px;
      }
    }

    .reviews {
      display: none;
    }

    &.active {
      .reviews_trigger i {
        transform: rotate(90deg);
      }

      .reviews {
        display: block;
      }
    }

    .review {
      padding: 16px;
      padding-top: 0;
      .text {
        padding: 8px 16px;
        background: rgba(0,0,0,.05);
        margin-bottom: 6px;

        p:last-child {
          margin: 0;
        }
      }
      .info {
        display: flex;
        justify-content: space-between;

        .actions {
          a {
            margin-right: 6px;
          }
        }
      }
      .author {
        text-align: right;
        margin-left: auto;
        color: rgba(0,0,0,.8)
      }
    }
  }
}

#add_product_wrapper {
  margin-bottom: 32px;
}

#new_product, .edit_product_form {
  padding: 16px;
  background: white;
  border: 1px solid #dfdfdf;
  display: none;

  &.active {
    display: flex;
  }

  .left {
    margin-right: 16px;
    width: 200px;
    min-width: 200px;
    min-height: 232px;
    overflow: hidden;

    img  {
      width: 200px;
      margin-bottom: 16px;
      //height: 200px;
    }
  }

  .right {
    display: flex;
    flex-direction: column;
    width: 100%;

    & > * {
      margin-bottom: 16px;
    }

    .errors {
      margin-bottom: 0;
    }

    input[type="submit"] {
      margin-bottom: 0;
    }
  }
}

@media screen and (max-width: 750px) {
  .product {
    flex-direction: column;

    .left {
      margin-bottom: 16px;
      margin-right: 0;

      img {
        width: 100% !important;
      }
    }
  }
}