// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.task {
  background: white;
  padding: 16px;
  border: 1px solid #dedede;
  border-radius: 5px;
  margin-bottom: 16px;
  opacity: 0.4;
  transition: opacity .5s;

  &.active, &:hover {
    opacity: 1;
  }

  &.declined {
    background: #f2d9d9;
  }

  &.complete {
    background: #3dcf3d3b;
  }

  .actions {
    display: flex;
    justify-content: space-between;

    .accept {

    }

    .decline {
      opacity: 0.6;
      transition:opacity .2s;

      &:hover {
        opacity: 1;
      }
    }
  }
}