// Place all the styles related to the Texts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#texts {
  border: 1px solid #d2d2d2;
  //border-bottom: none;
  background: white;
  border-radius: 5px;
  overflow: hidden;
}
.text_wrapper {
  border-bottom: 1px solid #d2d2d2;

  .text_info {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    padding: 6px 12px;

    .toggle {
      width: 52px;
      height: 52px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.5em;
    }

    input {
      height: 42px;
    }

    .short_text {
      width: 40%;
      color: rgba(0,0,0,.5)
    }

    [name="text[name]"] {
      width: 25%;
    }

    [type="submit"] {
      width: auto;
      background: transparent;
      cursor: not-allowed;
      color: var(--brand-color);
      //opacity: 0.3;
      transition: background .2s, color .2s;
    }

    &:last-child {
      border-bottom: none;
    }
  }

  .text_edit {
    display: none;
    padding: 12px;
    border-top: 1px solid #ececec;
  }

  &.active {
    .toggle {
      transform: rotate(90deg);
    }
    .text_edit {
      display: block;
    }
    [type=submit] {
      color: white;
      background: var(--brand-color);
      cursor: pointer;
    }
  }

  &:last-child {
    border-bottom: none;
  }

  form.changed {

  }
}