#texts
  - @texts.each do |text|
    .text_wrapper
      = form_for text, remote: true, method: :patch do |form|
        .text_info
          %a.toggle{href: "#", data: { turbolinks: false }}
            %i.fas.fa-chevron-right
          %span.name #{text.name}
          %span.short_text #{truncate(text.text.gsub(/<\/?[^>]*>/, ""), length: 40)}
          = form.submit
        .text_edit
          = form.text_area :text

