.modals
  .modal_wrapper{data: {modalname: 'user'}}
    %a.close{href: "#"}
      %i.fas.fa-times
    .modal_content#modal_user
      .left
        %h2.fullname
        .description

      .right
        %img.avatar{src: "https://www.drupal.org/files/issues/default-avatar.png"}
  - if @user_current
    .modal_wrapper{data: {modalname: 'user_edit'}}
      %a.close{href: "#"}
        %i.fas.fa-times

  .modal_wrapper{data: {modalname: 'login'}}
    %a.close{href: "#"}
      %i.fas.fa-times
    .modal_content.mcard#modal_login
      %header.tab_triggers
        %a.tab_trigger.active{href: "#", data: {tabid: 'login'}} Вход
      .tabs
        .tab.active{data: {tabid: 'login'}}
          .errors
          = form_for User.new, url: "/login", method: "post", remote: true, html: { id: "login_form" } do |f|
            = label_tag :mail, "Email:"
            = f.text_field :mail, placeholder: "Адрес электронной почты"
            = label_tag :password, "Пароль:"
            = f.text_field :password, type: :password, placeholder: "Пароль"
            = submit_tag "Войти"
  .modal_wrapper{data: {modalname: 'buy'}}
    %a.close{href: "#"}
      %i.fas.fa-times
    .modal_content#modal_buy
      %header
        Купить
        %span.product_name Лучший Продукт
      .tabs
        .tab.active{data: {tabid: 'buy'}}
          = text "how_to_buy_product"
          .data
            %span.price_wrapper
              Цена:
              %span.price 999
              р
            %a.tab_trigger{href: "#", data: {tabid: 'confirm'}} Подтвердить оплату
        .tab{data: {tabid: 'confirm'}}
          = text "how_to_confirm_payment"