.product_wrapper{id: "productwrapper#{product.id}", data: {name: product.name, price: product.price}}
  .product{id: "product#{product.id}", data: {name: product.name, price: product.price}}
    .left
      %img{src: product.image_url}

    .right
      %h4.name #{product.name}
      .description #{product.description.html_safe}
      .buy_wrapper
        .left
          %a.buy{href: "#", data: {turbolinks: false, modalname: "buy"}} Купить
          - if @user_current and @user_current.is_admin
            .actions
              %a.edit{href: "/products/#{product.id}/edit"}
                %i.fas.fa-pencil-alt
              %a{href: "/products/#{product.id}", data: {method: :delete}}
                %i.fas.fa-trash
        .price #{product.price}р
  - if product.reviews.count > 0 || (@user_current and @user_current.is_admin)
    .reviews_wrapper
      %a.reviews_trigger{href: "#", data: {turbolinks: "false"}}
        %i.fas.fa-chevron-right
        %span
          Отзывы о товаре
      .reviews
        - product.reviews.each do |review|
          .review
            .text
              = review.text.html_safe
            .info
              .actions
                - if @user_current and @user_current.is_admin
                  %a.edit{href: "/reviews/#{review.id}/edit"}
                    %i.fas.fa-edit
                  %a.edit{href: "/reviews/#{review.id}", data: {method: :delete}}
                    %i.fas.fa-trash
              = review.author
        - if @user_current and @user_current.is_admin
          = form_for ProductReview.new, url: "/reviews", method: :post, html: {class: "ajax_form"}, remote: true do |form|
            .errors
            = form.hidden_field :product_id, value: product.id
            = form.text_area :text
            = form.text_field :author, placeholder: "Автор"
            = form.submit "Добавить отзыв"
