= form_for @product, html: {class: "ajax_form edit_product_form active"}, method: :patch, remote: true do |form|
  .left
    %img#img_load{src: @product.image_url}
    = form.file_field :image, id: "file_preview"
  .right
    .errors
    = form.text_field :name, placeholder: "Название"
    = form.text_area :description, 'data-provider': :summernote
    = form.text_field :link, placeholder: "Ссылка на продукт (для создания временных ссылок)"
    = form.number_field :price, placeholder: "Цена"

    = form.submit