- @nav_active = 'shop'
= text "shop_top"
%br
%br

- if @user_current and @user_current.is_admin
  #add_product_wrapper
    %h4
      %a#add_product_trigger{href: "#", data: {turbolinks: "false"}} Добавить товар
    = form_for Product.new, html: {class: "ajax_form"}, remote: true do |form|
      .left
        %img#img_load{src: ""}
        = form.file_field :image, id: "file_preview"
      .right
        .errors
        = form.text_field :name, placeholder: "Название"
        = form.text_area :description, 'data-provider': :summernote
        = form.text_field :link, placeholder: "Ссылка на продукт (для создания временных ссылок)"
        = form.number_field :price, placeholder: "Цена"

        = form.submit

#products
  - @products.each do |product|
    = render "product", product: product