= form_for @review, url: "/reviews/#{@review.id}", method: :patch, html: {class: "ajax_form"}, remote: true do |form|
  .errors
  = form.hidden_field :product_id, value: @review.product.id
  .field
    = form.text_area :text, "data-provider": :summernote
  .field
    = form.text_field :author, placeholder: "Автор"
  = form.submit "Обновить отзыв"