!!!
%html
  %head
    %link{rel: "shortcut icon", href: "/favicon.png", type: "image/png"}
    %title
      = (@title ? @title+" - " : "") +  "Блог Лары Покровской"
    = csrf_meta_tags
    <meta name="viewport" content="width=device-width; initial-scale=1">
    %meta{name: "viewport", content: "width=device-width; initial-scale=1"}
    = javascript_include_tag Ckeditor.cdn_url
    %link{crossorigin: "anonymous", href: "https://use.fontawesome.com/releases/v5.8.1/css/all.css", integrity: "sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf", rel: "stylesheet"}/
    %link{crossorigin: "anonymous", href: "https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote-bs4.css", rel: "stylesheet"}/
    %link{crossorigin: "anonymous", href: "https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote.css", rel: "stylesheet"}/
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %script{src: "https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote-bs4.js"}
    %script{src: "https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/lang/summernote-ru-RU.js"}
    %script{src: "//yastatic.net/es5-shims/0.0.2/es5-shims.min.js"}
    %script{src: "//yastatic.net/share2/share.js"}
  %body
    - if @user_current
      #nav_user_wrapper
        %nav#nav_user.container-width
          .left
            %a{href: "/users/#{@user_current.id}/edit"}
              %i.fas.fa-pencil-alt
              #{@user_current.name}
            - if @user_current.is_admin
              %a{href: "/texts"} Тексты
          .right
            %a{href: "/logout"} Выйти
    #nav_main_wrapper
      %nav.navbar.smallscreen_flex
        .navbar-light
          %button.navbar-toggler{"aria-controls" => "navbarToggleExternalContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarToggleExternalContent", "data-toggle" => "collapse", :type => "button"}
            %span.navbar-toggler-icon
      #navbarToggleExternalContent.collapse
        %div
          %nav#nav_main.smallscreen_flex
            .left
              %a{href: "/", class: @nav_active=='blog'? 'active':''} БЛОГ
              %a{href: "/pages/how_i_work", class: @nav_active=='how_i_work'? 'active':''} КАК Я РАБОТАЮ
              %a{href: "/book", class: @nav_active=='book'? 'active':''} МОЯ КНИГА
              %a{href: "/products", class: @nav_active=='shop'? 'active':''} МАГАЗИНЧИК
              -#%a{href: "/pages/partnership", class: @nav_active=='partnership'? 'active':''} СОТРУДНИЧЕСТВО
              -# %a{href: "/psychologist", class: @nav_active=='psychologist'? 'active':''} ПСИХОЛОГ - ПСИХОЛОГУ
              %a{href: "/pages/contacts", class: @nav_active=='coontacts'? 'active':''} КОНТАКТЫ
            .right
              - unless @user_current
                %a{href: "#", data: {modalname: "login"}} Вход
              - if @user_current and @user_current.is_admin
                %a{href: "/tasks"}
                  %i.fa-bell{class: Task.where(status: :active).count > 0 ? "bell-active fas" : "far"}

      %nav#nav_main.container-width.bigscreen
        .left
          %a{href: "/", class: @nav_active=='blog'? 'active':''} БЛОГ
          %a{href: "/pages/how_i_work", class: @nav_active=='how_i_work'? 'active':''} КАК Я РАБОТАЮ
          %a{href: "/book", class: @nav_active=='book'? 'active':''} МОЯ КНИГА
          %a{href: "/products", class: @nav_active=='shop'? 'active':''} МАГАЗИНЧИК
          -#%a{href: "/pages/partnership", class: @nav_active=='partnership'? 'active':''} СОТРУДНИЧЕСТВО
          -# %a{href: "/psychologist", class: @nav_active=='psychologist'? 'active':''} ПСИХОЛОГ - ПСИХОЛОГУ
          %a{href: "/pages/contacts", class: @nav_active=='coontacts'? 'active':''} КОНТАКТЫ
        .right
          - unless @user_current
            %a{href: "#", data: {modalname: "login"}} Вход
          - if @user_current and @user_current.is_admin
            %a{href: "/tasks"}
              %i.fa-bell{class: Task.where(status: :active).count > 0 ? "bell-active fas" : "far"}

    #info_main.container-width
      /%img.img_left{src: "/img/img_left.png"}
      .author_name Лара Покровская
      .author_description психолог, травма-терапевт
      /%img.img_right{src: "/img/img_right.png"}

    #wrapper.container-width
      #container_wrapper
        #container
          - flash.each do |key, message|
            %div{class: "flash_#{key}"}
              = message
          = yield

      #sidebar
        .sidebar__inner
          .block
            .block-content
              %form.search_form{action: "/search", method: "get"}
                %input.search{name: "query", placeholder: "Поиск"}/
                %button{type: "submit"}
                  %i.fas.fa-search

          .block
            .block_title
              %span Обо мне
            .block_content
              %img.about_img{src: "/img/lara.jpg"}/
              = text "sidebar_about_me"

          .block
            .block_title
              %span Контакты
            .block_content
              = text "contacts_sidebar"

          .block
            .block_title
              %span Мои соцсети
            .block_content
              .socials
                %a{href: "https://www.facebook.com/lsimplecasual", target: "_blank"}
                  %i.fab.fa-facebook-f
                %a{href: "https://www.instagram.com/larapokrovskaya_psy/", target: "_blank"}
                  %i.fab.fa-instagram
                %a{href: "https://vk.com/larapokrovskaya", target: "_blank"}
                  %i.fab.fa-vk

          - @sidebar_products.each do |product|
            .block.product_block
              .block_title
                %span #{product.name}
              .block_content
                %a{href: "/products"}
                  %img.product_image{src: product.image_url}/

          .block
            .block_title
              %span podzontom.club
            .block_content
              %img{src: "http://podzontom.club/uploads/images/00/00/01/2019/03/04/edb54622f7.jpg", title: "Психологическое пространство Под Зонтом"}/
              .socials
                %a{href: "https://vk.com/podzontom.club", _target: "blank"}
                  %i.fab.fa-vk
                %a{href: "https://www.facebook.com/groups/podzontom.club/", _target: "blank"}
                  %i.fab.fa-facebook
                %a{href: "https://www.facebook.com/podzontom.club/", _target: "blank"}
                  %i.fab.fa-facebook-f
                %a{href: "https://www.youtube.com/channel/UCRgPSnLY2fGZnYDbNqTt4Mg", _target: "blank"}
                  %i.fab.fa-youtube
                %a{href: "https://www.instagram.com/podzontom.club/", _target: "blank"}
                  %i.fab.fa-instagram


    - if @user_current && @user_current.is_admin
      %a#write_fab{href: "/posts/new"}
        %i.fas.fa-plus

    #footer_wrapper
      %footer.container-width
        %div (с) 2019 Лара Покровская. При копировании текста обязательна ссылка на источник.

    = render "modals"